/*import fonts*/
@import url('../styles/fonts.css');

/*----------------------------reset---------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /*
    If you set box-sizing: border-box; on an element, padding and border are included in the width and height
    */
}
/*--------------x-------------reset-------------------x--------------*/


/*----------------------------------------------------global variable--------------------------------------------------*/
:root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-darkblack: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
    --light-green: #24e35a;
    --light-blue: #2a88e6;
    --bg-black: #16191e;
    --loader-gray: #45474b;



    /* gradient color  https://webgradients.com/ */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
}
/*-----------------------------x-----------------------global variable---------------------x-------------------------*/


/*----------------global Classes---------------*/
a{
    text-decoration: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}
/*--------x-------global Classes-------x-------*/




/*--------------------------loader------------------------------*/
.loader{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--bg-black);
    position: absolute;
    z-index: 1;
}
.loader>div{
    height: 100px;
    width: 100px;
    border: 15px solid var(--loader-gray);
    border-top-color: var(--light-blue);
    position: absolute;
    margin:auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite cubic-bezier(0.3,0.8,0.7,0.3);
    /*
    animation: spin <-name of the keyframe you want to bind to the selector
    cubic-bezier(x1,x2,y1,y2)
    go check https://cubic-bezier.com/;
    */
}

@keyframes spin{
    0%{ transform:rotate(0deg); }
    100%{ transform:rotate(360deg); }
}

/*------------x-------------loader------------------x-----------*/

/*------------------------------navbar----------------------------------*/
.nav{
    background: var(--white);
    padding: 0 2rem;
    /*
    collapsible nav menu
    */
    height: 0rem;
    min-height: 40vh;
    overflow: hidden;
}

.nav .nav-menu{
    justify-content: space-between;
    /*
    https://www.w3schools.com/cssref/css3_pr_justify-content.asp
    */
}

.nav .nav-items{
    list-style-type: none;
    display: flex;
    margin: 0;
}

.nav-items .nav-link{
    padding:1.6rem 1rem;
    font-size:1.1rem;
    position:relative;
    font-family: var(--Abel);
}

.nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav-items .nav-link:hover a{
    color: var(--white);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
}

.nav .social{
    padding: 1.4rem 0;

}

/*--------------x---------------navbar-------------------x--------------*/









/*------------------------background picture--------------------------*/
.main-content{
    width: 100vw;
    height: 100vh;
    background: url("https://source.unsplash.com/random/4000x4000") center no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
}
/*------------x------------background picture-------------x-----------*/

